@import url('https://fonts.googleapis.com/css?family=Roboto');
.header{
    text-align: center;
    font-size: 20px;
    font-family: 'Roboto';
    color:  rgba(0, 0, 0, 0.87);
}
.lang {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.sort {
    display: flex;
    justify-content: end;
}

.category {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 90%;
    margin: auto;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}